$text-orange: #FE9603;

$text-second: #643c7c;
$bg-color: #f2f2f2;
$text-color: #868686;
$text-white: white;
$text-black: #181818;
$color-white :#e9e9e9;
$rating-color: #FDCC0D;
$text-red: #B92B27 ;

$button-radius: 0.3rem;

/*signup container SIZES */
$max-width: 80em;
$max-height: 95vh;

//gradient for login btn
$btn-orange: #ff5c00;
$btn-lightorange: #ff9100;
